.detalhes {
    padding: $padding-default;
    background-color: $third;

    &__titulo {
        @include titulo-padrao ($fonte-lg: 1.875rem, $bold: 400);
        margin-bottom: 1.25rem;
    }

    &__texto{
        @include texto-padrao($fonte-lg: .875rem);
        line-height: 1.8rem;
    }
}