.footer{
    padding: $padding-default;
    background-color: $first;
    color: $third;
    @extend %font-padrao;
    &__texto{
        color: white;
        font-size: 10px;
        line-height: 1rem;
        margin-top: 1rem;
    }

    &__contato{
        &__phone{
            @include texto-padrao($cor-da-fonte: $third);
            margin-left: .5rem;
        }
        &--size{
            @include texto-padrao($cor-da-fonte: $third, $fonte-lg: 10px);
            font-size: 10px;
        }
    }
    ul{
        @extend %font-padrao;
        li{
            color: $third;
            margin-right: .5rem;
            font-size: 12px;
            @media (min-width: 992px){
                margin-right: 1rem;
                font-size: 14px;
            }

            &:hover{
                text-decoration: underline;
                font-weight: 700;
            }
            a {
                cursor: pointer;
                
            }
        }
    }
}