@import "global/mixins.scss";

.home {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: grey;
    background-blend-mode: multiply;
    padding: $padding-default;

    @media (min-width:992px) {
        height: 80vh;
    }

    h1 {
        margin-bottom: 1.56rem;
        @include titulo-padrao ($cor-da-fonte: $third);
        @media (min-width:1440px) {
          margin-top: 150px;
        }
    }

    &__h2 {
        @include texto-padrao($cor-da-fonte: $third);
        margin-bottom: 2.87rem;
    }

    &__botao {
        @include botao-padrao;
        border: solid 1px $third;
    }

    h3 {
        @include titulo-padrao;
        background-color: $secondary;
        opacity: .8;
        padding: 2rem;
        text-align: center;
        margin-bottom: -27px;

        
    }

    a {
        color: $third;
    }
}