.informacoes-apto{
    background-color: $first;
    color: $third;
    padding: $padding-default;
    text-align: center;

    &__titulo{
        @include titulo-padrao($cor-da-fonte: $secondary, $fonte-lg: 2.25rem, $bold: 700);
        margin-bottom: 1rem;
    }
    &__texto{
        @include texto-padrao($cor-da-fonte:$third);
        margin-bottom: 1rem;
    }

    &__itens{
        @include texto-padrao($cor-da-fonte:$third);
    }
}