.planta {
    background-color: $third;
    padding: $padding-default;

    &__titulo {
        @include titulo-padrao($fonte-lg: 1.875rem);
    }

    &__texto {
        @include texto-padrao($cor-da-fonte: #5E5E5E, $fonte-lg: 1.125rem);
        text-align: center;
        text-decoration: underline;
        font-weight: 700;
        @media (min-width: 992px){
            text-decoration: none;
        }
    }
    &__card{
        @media (min-width: 992px){
            border: solid 3px $secondary;
        }
    }
}
