.video {
    background-color: #F5F5F5;
    padding: $padding-default;

    &__titulo {
        @include titulo-padrao ($fonte-lg: 1.875rem, $bold: 400);
        margin-bottom: 1.25rem;
    }

    &__iframe-video {
        width: 100%;
    }
}