footer{
    $padding : 33.5px;
    padding-top: $padding;
    padding-bottom: $padding;
    @include media-breakpoint-up(lg){
        padding-top: $padding*2;
        padding-bottom: $padding*2;
    }
    border-top: 1px solid $fifth;
    background: rgba($sixth, .67);

}