//bootstrap 
@import "bootstrap4.scss";
@import "bootstrap4/mixins";
// Reset
@import "global/reset.scss";
@import "global/home.scss";
@import "global/oferta.scss";
@import "global/mixins.scss";
@import "global/galeria-interna.scss";
@import "global/diferenciais.scss";
@import "global/galeria-externa.scss";
@import "global/detalhes.scss";
@import "global/video.scss";
@import "global/planta.scss";
@import "global/navbar.scss";
@import "global/informacoes-apto.scss";
@import "global/formulario.scss";
@import "global/footer.scss";

#body{
    margin-top: 63px;
}
.open{

    display: inline;
}

p{
    @include texto-padrao;
}

a{
    text-decoration: none;
    
}

span{
    font-weight: 700;
}

.slick-dots li button:before {
    font-size: 10px;
    line-height: 20px;
}

.slick-dots li.slick-active button::before {
    line-height: 20px;
}

.smooth__scroll{
    scroll-behavior: smooth;
}
